:root {
    --bg-color: black;
    --bg-color-2: rgba(236, 200, 0, 0.486);
    --text-color: rgb(255, 200, 100);
    --text-link-color: rgb(255, 150, 0);
    --bg-light-color: rgba(247, 236, 137, 0.493);
    --mid-color: rgb(129, 224, 4);
    --quote-color: rgb(152, 201, 37);
}

mjx-container {
    display: inline-grid;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

img {
    max-width: 60%;
    background-color: var(--bg-light-color);
    border: 5px solid var(--mid-color);
    box-shadow: 0px 0px 40px var(--text-color);
    border-radius: 20px;
}

#banner-img {
    max-width: 100%;
    border: 0px solid var(--mid-color);
    box-shadow: 0px 0px 0px var(--text-color);
    border-radius: 0px;
    opacity: .7;
}

.hljs {
    /* background-color: #2d2d2d !; 自定义背景颜色 */
    /* color: #f8f8f2; 设置代码文字颜色 */
    /* padding: 15px; */
    border: 5px solid var(--mid-color);
    box-shadow: 0px 0px 40px var(--text-color);
    border-radius: 20px;
}

a {
    text-decoration: underline dotted var(--text-link-color);
    color: var(--text-link-color);
}

a:hover {
    border-radius: 10%;
    background-color: var(--mid-color);
    color: var(--bg-color);
    box-shadow: 0px 0px 20px var(--mid-color);
}

a.nav {
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    text-decoration: none;
    transition: box-shadow 0.2s;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
    border-radius: 10px;
    font-family: "Long Cang", cursive;
    font-size: 1.5rem;
    color: var(--text-link-color);
}

a.nav:hover {
    background-color: var(--mid-color);
    color: var(--bg-color);
    box-shadow: 0px 0px 20px var(--mid-color);
}

body {
    background-color: #d1c5b7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Noto Serif SC", serif;
    font-size: 100%;
    color: var(--text-color);
}

.container {
    width: 1000px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    max-width: 100%;
    display: inline-flex;
}

nav.row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    order: 60;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 100%;
}

section.banner {
    display: flex;
    border-style: hidden;
    border-width: 0px;
    box-shadow: 0px 0px 0px rgb(155, 123, 82);
}

section.post-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: var(--text-color);
    /* flex: 1; */
    /* width: 300px; */
    /* flex-flow: row wrap; */
}

section.post-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1.post-title {
    display: flex;
    /* flex-flow: row wrap; */
    width: 100%;
    justify-content: center;
    text-align: center;
}

.post-list {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    justify-content: flex-start;
}

pre {
    display: flex;
    width: 100%;
}

/* code{ */
/*     display: flex; */
/*     width: 100%; */
/*     overflow-x: auto; */
/*     overflow-y: hidden; */
/* } */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--bg-color-2);
    color: var(--quote-color);
    border: 5px solid var(--mid-color);
    box-shadow: 0px 0px 40px var(--text-color);
    border-radius: 20px;
    padding: 2px;
}


th,
td {
    /* border: 3px solid gray; */
    border: 1px dashed var(--mid-color);
    border-radius: 0px;
    color: var(--quote-color);
}

blockquote {
    width: 100%;
    background-color: var(--bg-color-2);
    color: var(--quote-color);
    border: 5px solid var(--mid-color);
    box-shadow: 0px 0px 40px var(--text-color);
    border-radius: 10px;
}

.post-link {
    text-decoration: underline dotted var(--text-link-color);
    color: var(--text-link-color);
}

.tags {
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: rgb(255, 255, 255);
    flex-flow: wrap;
}

.star-background {
    background-color: #000000;
    /* 设置纸张底色 */
    background-image: radial-gradient(circle,
            rgb(255, 200, 100) 0.3px,
            rgba(255, 200, 100, 0.05) 2px,
            rgba(255, 200, 100, 0.01) 300px,
            transparent 100px),
        radial-gradient(circle,
            rgb(46, 115, 243) 0.2px,
            rgba(255, 200, 100, 0.05) 1.8px,
            rgba(255, 200, 100, 0.01) 300px,
            transparent 100px),
        radial-gradient(circle,
            rgb(255, 50, 200) 0.1px,
            rgba(255, 200, 100, 0.05) 1.5px,
            rgba(255, 200, 100, 0.01) 300px,
            transparent 100px);
    background-size: 300px 900px,
        /* 第一层小点图案的大小 */
        400px 500px,
        512px 700px;

    background-position: 200px 1px,
        56px 183px,
        20px, 350px;
}