

header, footer {
  background-color: var(--surface);
  backdrop-filter: blur(1rem);
  box-shadow: 0rem 0rem .1rem var(--border);
}

header {
  position: sticky;
  top: 0px;
  height: 60px;
  z-index: 1000; /* 提高层级，防止被其他元素遮挡 */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header-container {
  background-color: var(--surface);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: 1;
  max-width: 55rem;
  height: 100%;
}