mjx-container {
    display: inline-grid;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
  }
img{
    max-width: 100%;
}
a.nav{
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    text-decoration: none;
    transition: box-shadow 0.2s;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
    font-family: 'Long Cang', cursive;
    font-size: 1.5rem;
    color: black;
}
a.nav:hover{
    box-shadow: inset 0 -3px 0 black;
}


body{
    background-color: bisque;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Noto Serif SC', serif;
    font-size: 100%;
}
.container{
    width: 1000px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    max-width: 100%;
    display: inline-flex;
}
nav.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    order: 60;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 100%;
}

section.banner{
    display: flex;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
}

section.post-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    /* flex: 1; */
    /* width: 300px; */
    /* flex-flow: row wrap; */
}

section.post-meta{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1.post-title{
    display: flex;
    /* flex-flow: row wrap; */
    width: 100%;
    justify-content: center;
    text-align: center;
}
.post-list{
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    justify-content: flex-start;
}
pre{
    display: flex;
    width: 100%;
}
/* code{ */
/*     display: flex; */
/*     width: 100%; */
/*     overflow-x: auto; */
/*     overflow-y: hidden; */
/* } */

table
{
    width: 100%;
    border-collapse:collapse;
}
table,th, td
{
    border: 3px solid gray;
}
blockquote{
    color: grey;
    width: 100%;
}

.post-link{
    text-decoration: underline dotted black;
    color: black;
}
.tags{
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: black;
    flex-flow: wrap;
}