{% extends "base.html" %}
{% block content %}

<section class="post-list">
    {% block page_title %}
    {% endblock page_title %}
    {% for article in articles_page.object_list %}

        <h2 class="post-title">
            <span class="post-date">{{ article.date.strftime('%Y-%m-%d') }}</span>
            <a href="{{ SITEURL }}/{{ article.url }}" class="post-link" rel="bookmark"
                title="Permalink to {{ article.title|striptags }}">
                {{ article.title }}</a>
        </h2>

    {% endfor %}
</section>


{% endblock content %}